@{
    ViewData["Title"] = "Home Page";
}

<div>
    
    <form method="post">
        <button class="btn btn-info" type="submit" asp-route-accion="anterior">Anterior</button>
        <button class="btn btn-info" type="submit" asp-route-accion="parar">Parar</button>
        <button class="btn btn-info" type="submit" asp-route-accion="reanudar">Reanudar</button>
        <button class="btn btn-info" type="submit" asp-route-accion="siguiente">Siguiente</button>
    </form>
</div>
